{% extends 'poems/base.html'%}
{% block content %}

<style>
#myInput {

	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 5px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myUl {

	list-style: none;
	padding: 0;
	margin: 0;
}

#myUl li a {
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
}

#myUl li a.header {
	background-color: #e2e2e2;
	cursor: default;
}
#myUl li a:hover {
		background-color: #eee;

}
</style>

<input type="text" onkeyup="myFunction()" id="myInput" placeholder="Search for names">



    <ul id="myUl">
    {% for i in poem %}

        {% if i.first_line == None %}
        <li><a href="{% url 'analytics:pd' pk=i.pk %}">{{i.poem_title}}</a></li>
<!--        <li><a href="{% url 'analytics:pd' pk=i.pk %}">{{i.poem_title}} ({{i.firstline}})</a></li>-->
        {% else %}
        <li><a href="{% url 'analytics:pd' pk=i.pk %}">{{i.poem_title}} ({{i.first_line}})</a></li>
        {% endif %}
        {% endfor %}
 	</ul>

<script>

    function myFunction() {
	var input, filter, ul, li, a, i;
	input = document.getElementById("myInput");
	filter = input.value.toUpperCase();
	ul = document.getElementById("myUl");
	li = ul.getElementsByTagName("li");

	for (i=0; i<li.length; i++) {
		a = li[i].getElementsByTagName("a")[0]
		if (a.innerHTML.toUpperCase().indexOf(filter)>-1) {
			li[i].style.display = "";
		} else {
			li[i].style.display = "none"
		}
	}

}
</script>

{% endblock %}