

{% extends 'poems/base.html' %}
{% block content %}
  <div style="text-align: center; padding-bottom: 50px;">
        <a href="{% url 'home' %}">
        <canvas class="wow rotateIn" data-wow-duration="2s" id="spiralCanvas" width="300" height="300"></canvas>
        </a>
    </div>

<div style="text-align: center">
        <div style="text-align: center" class="wow fadeInLeft  data-wow-duration="2s">
        <h4><a href="{% url 'poems:poet_info' poet_last_name=poet.last_name %}">{{poet}}<h4>


        </div>

</div>



{% endblock %}