{% extends 'poems/base.html'%}
{% block content %}


<header>

</header>
        <div class="container-1">
        {% for p in poem %}
            <div class="block-main box-flex wow fadeInUp  data-wow-duration="2s">
                <h3 style="text-align: center"><a href="{% url 'poems:poem_single' pk=p.pk %}">{{p.poem_title}}</a></h3>
                <p class="text-poem">{{p.poem_text}}</p>
                <p>{{p.poem_year}}</p>
                <p>{{p.poet_name}}</p>
                {% if user.is_superuser %}
                <p><a href="{% url 'poems:poem_update' pk=p.pk %}">Изменить</a></p>
                <p><a href="{% url 'poems:poem_delete' pk=p.pk %}">Удалить</a></p>
                <p><a href="{% url 'poems:poem_add' %}">Добавить стих</a></p>
                {% endif %}
                <p><a href="{% url 'poems:audio' pk=p.pk %}">Аудио</a></p>
                <p><a href="{% url 'analytics:pd' pk=p.pk %}">Словарь стихотворения</a></p>

             </div>
        {% endfor %}
        </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock %}