{% extends 'poems/base.html'%}
{% block content %}


<header>

</header>

        <div class="container-1">
        {% with poet_=p_.poet_name %}
        {% for p in poem %}

            <div class="block-main box-flex wow fadeInUp  data-wow-duration="2s">
                <h3 style="text-align: center"><a href="{% url 'analytics:pd' pk=p.pk %}">{{p.poem_title}}</a></h3>
                <p class="text-poem" style="text-align: center">{{p.poem_text}}</p>
            {% if p.poem_img %}
<!--            <p style="text-align: center"><img src="{{p.poem_img.url}}" height='250' alt="{{p.poem_title}}">-->
<!--            </p>-->
                {% endif %}
                <p>{{poet_}}</p>
            {% if p.poem_year %}
                <p>{{p.poem_year}}</p>
            {% endif %}
                <p> Слов в стихе: {{p.poem_words | length}}</p>
                <p>{% for tag in p.poem_tag.all %}
            {{tag}}
                    {% endfor %}</p>



                {% if user.is_superuser %}
                <p style="text-align: right"><a href="{% url 'poems:poem_update' pk=p.pk %}">Изменить</a></p>
                <p style="text-align: right"><a href="{% url 'poems:poem_delete' pk=p.pk %}">Удалить</a></p>
<!--                <p style="text-align: right"><a href="{% url 'poems:poem_add' %}" target="_blank">Добавить стих</a></p>-->
                {% endif %}
                <p style="text-align: right"><a href="{% url 'poems:audio' pk=p.pk %}" target="_blank">Аудио</a></p>
                <p style="text-align: right"><a href="{% url 'analytics:pd' pk=p.pk %}" target="_blank">Словарь стихотворения</a></p>

             </div>
        {% endfor %}
        {% endwith %}
        </div>


   <div class="pagination">
    <span class="step-links">
        {% if poem.has_previous %}
            <a href="?page={{ poem.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ poem.number }} of {{ poem.paginator.num_pages }}.
        </span>

        {% if poem.has_next %}
            <a href="?page={{ poem.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




{% endblock %}