

{% extends 'poems/base.html' %}
{% block content %}



<div style="text-align: center">
        <div style="text-align: center" class="wow fadeInLeft  data-wow-duration="2s">
        <h4><a href="#">{{poet}}</a><h4>
        </div>

<img src="{{poet.poet_img.url}}" height='300' alt="{{poet}}">
<ul style="list-style: none;">

<li><a href="{% url 'poems:poems_author' poet=poet.last_name%}">Стихи всего: {{poems_len}}</a></li>
<li><a  href="{% url 'poems:contents_author' poet=poet.last_name%}">Содержание</a></li>
<li><a  href="{% url 'analytics:analytics_main' poet=poet.last_name%}">Аналитика</a></li>

</ul>

</div>



{% endblock %}